<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8" />
<title> Gestión Vodafone</title>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" th:href="@{/css/login.css}" />
<!------ Include the above in your HEAD tag ---------->
</head>

<body class="align">


 <div class="container login__container h-100">
        <div class="row login__row">
            <div class="col-md-4 d-flex">

            </div>
            <div class="col-md-4 d-flex">
                <div class="align-self-center card login__card shadow-sm w-100">
                    <div class="card-body">
                        <form th:action="@{/login}" method="post">

						<div th:if="${param.error}">
							<div class="alert alert-danger">Usuario y password
								inválidos</div>
						</div>

                            <div class="">
                                <div class="form-group">
                                    <label for="">Nombre de Usuario</label>
                                    <input type="text" name="username" class="form-control form-control-lg" required/>
                                </div>
                                <div class="form-group">
                                    <label for="">Contraseña</label>
                                    <input type="password" name="password" class="form-control form-control-lg" required/>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input custom-control"
                                        id="customCheckDisabled1" />
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block my-3">Iniciar Sesión</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>	
</html>
